In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("movies.csv")

In [3]:
movies_df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,genres_id,production_companies_id,production_countries_iso_3166_1,spoken_language_iso_639_1,cast,director,release_year,release_month,release_day,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,"[16, 35, 10751]",[3],['US'],['en'],"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",John Lasseter,1995,10,30,12.451801
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,"[12, 14, 10751]","[559, 2550, 10201]",['US'],"['en', 'fr']","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",Joe Johnston,1995,12,15,4.043035
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,"[10749, 35]","[6194, 19464]",['US'],['en'],"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",Howard Deutch,1995,12,22,0.000000
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,"[35, 18, 10749]",[306],['US'],['en'],"['Whitney Houston', 'Angela Bassett', 'Loretta...",Forest Whitaker,1995,12,22,5.090760
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,[35],"[5842, 9195]",['US'],['en'],"['Steve Martin', 'Diane Keaton', 'Martin Short...",Charles Shyer,1995,2,10,0.000000

In [4]:
movies_df = movies_df[["title",
"genres_id",
"cast",
"director",
"overview"]] # columnas que vamos a usar para el modelo

In [5]:
movies_df['genres_id'].info(), movies_df.shape

<class 'pandas.core.series.Series'>
RangeIndex: 45452 entries, 0 to 45451
Series name: genres_id
Non-Null Count  Dtype
--------------  -----
43067 non-null  object
dtypes: object(1)
memory usage: 355.2+ KB

(None, (45452, 5))

In [6]:
# procesamiento de genres_id

movies_df_ = movies_df.copy()

movies_df_['genres_id'] = movies_df_['genres_id'].fillna('[]')
movies_df_['genres_id'] = movies_df_['genres_id'].apply(lambda x: eval(x))
movies_df_['genres_id'] = movies_df_['genres_id'].apply(lambda x: [f"{i}" for i in x])
movies_df_['genres_id'] = movies_df_['genres_id'].apply(lambda x: ' '.join(x))
movies_df_['genres_id']

0        16 35 10751
1        12 14 10751
2           10749 35
3        35 18 10749
4                 35
            ...
45447    18 28 10749
45448             18
45449       28 18 53
45450
45451
Name: genres_id, Length: 45452, dtype: object

In [7]:
movies_df_['cast'] = movies_df_['cast'].fillna('[]')
movies_df_['cast'] = movies_df_['cast'].apply(lambda x: eval(x))
movies_df_['cast'] = movies_df_['cast'].apply(lambda x: ' '.join([i.replace(" ", "") for i in x]))
movies_df_['cast']

0        TomHanks TimAllen DonRickles JimVarney Wallace...
1        RobinWilliams JonathanHyde KirstenDunst Bradle...
2        WalterMatthau JackLemmon Ann-Margret SophiaLor...
3        WhitneyHouston AngelaBassett LorettaDevine Lel...
4        SteveMartin DianeKeaton MartinShort KimberlyWi...
                               ...
45447    PatrickBergin UmaThurman DavidMorrissey Jürgen...
45448    AngelAquino PerryDizon HazelOrencio JoelTorre ...
45449    ErikaEleniak AdamBaldwin JulieduPage JamesRema...
45450    IwanMosschuchin NathalieLissenko PavelPavlov A...
45451
Name: cast, Length: 45452, dtype: object

In [8]:
movies_df_['director'] = movies_df_['director'].fillna(' ')
movies_df_['director'] = movies_df_['director'].apply(lambda x: x.replace(" ", ""))
movies_df_['director']

0           JohnLasseter
1            JoeJohnston
2           HowardDeutch
3         ForestWhitaker
4           CharlesShyer
              ...
45447          JohnIrvin
45448            LavDiaz
45449       MarkL.Lester
45450    YakovProtazanov
45451       DaisyAsquith
Name: director, Length: 45452, dtype: object

In [9]:
movies_df_

,title,genres_id,cast,director,overview
0,Toy Story,16 35 10751,TomHanks TimAllen DonRickles JimVarney Wallace...,JohnLasseter,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,12 14 10751,RobinWilliams JonathanHyde KirstenDunst Bradle...,JoeJohnston,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,10749 35,WalterMatthau JackLemmon Ann-Margret SophiaLor...,HowardDeutch,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,35 18 10749,WhitneyHouston AngelaBassett LorettaDevine Lel...,ForestWhitaker,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,35,SteveMartin DianeKeaton MartinShort KimberlyWi...,CharlesShyer,Just when George Banks has recovered from his ...
...,...,...,...,...,...
45447,Robin Hood,18 28 10749,PatrickBergin UmaThurman DavidMorrissey Jürgen...,JohnIrvin,"Yet another version of the classic epic, with ..."
45448,Century of Birthing,18,AngelAquino PerryDizon HazelOrencio JoelTorre ...,LavDiaz,An artist struggles to finish his work while a...
45449,Betrayal,28 18 53,ErikaEleniak AdamBaldwin JulieduPage JamesRema...,MarkL.Lester,"When one of her hits goes wrong, a professiona..."
45450,Satan Triumphant,,IwanMosschuchin NathalieLissenko PavelPavlov A...,YakovProtazanov,"In a small town live two brothers, one a minis..."
45451,Queerama,,,DaisyAsquith,50 years after decriminalisation of homosexual...

In [10]:
# creamos una columna con todas las palabras claves

movies_df_['words'] = movies_df_['title'] + ' ' + movies_df_['genres_id'] + ' ' + movies_df_['cast'] + ' ' + movies_df_['director'] + ' ' + movies_df_['overview']

movies_df_['words']

0        Toy Story 16 35 10751 TomHanks TimAllen DonRic...
1        Jumanji 12 14 10751 RobinWilliams JonathanHyde...
2        Grumpier Old Men 10749 35 WalterMatthau JackLe...
3        Waiting to Exhale 35 18 10749 WhitneyHouston A...
4        Father of the Bride Part II 35 SteveMartin Dia...
                               ...
45447    Robin Hood 18 28 10749 PatrickBergin UmaThurma...
45448    Century of Birthing 18 AngelAquino PerryDizon ...
45449    Betrayal 28 18 53 ErikaEleniak AdamBaldwin Jul...
45450    Satan Triumphant  IwanMosschuchin NathalieLiss...
45451    Queerama   DaisyAsquith 50 years after decrimi...
Name: words, Length: 45452, dtype: object

In [11]:
movies_df_ = movies_df_[['words','title']]

In [12]:
movies_df_.isnull().sum() # filas con nulos

words    941
title      0
dtype: int64

In [13]:
movies_df_.shape

(45452, 2)

In [14]:
movies_df_ = movies_df_.dropna()

In [15]:
movies_df_.shape

(44511, 2)

In [16]:
movies_df_.drop_duplicates(inplace=True)
movies_df_.shape

(44406, 2)

In [17]:
movies_df_ = movies_df_.reset_index(drop=True)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

# expresa cuán relevante es una palabra para un documento en una colección

tfidf = TfidfVectorizer(max_features=5000)

In [19]:
vectorized = tfidf.fit_transform(movies_df_['words'].values)
tfidf.get_feature_names_out()

array(['000', '10', '100', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [20]:
vectorized_df = pd.DataFrame(vectorized.toarray())

In [21]:
from sklearn.decomposition import TruncatedSVD

In [22]:
svd = TruncatedSVD(n_components=2500)

reduced_data = svd.fit_transform(vectorized_df)

In [23]:
reduced_data

array([[ 0.15459621, -0.01834458,  0.03426772, ...,  0.00154824,
        -0.00950287, -0.01303584],
       [ 0.2072601 , -0.02336851, -0.00883157, ..., -0.00763269,
         0.00638396,  0.00240848],
       [ 0.1879923 ,  0.06535768, -0.06619208, ..., -0.00305714,
        -0.00336752,  0.01554276],
       ...,
       [ 0.13409526,  0.06877064, -0.02973634, ..., -0.00336646,
        -0.00939659, -0.01051487],
       [ 0.32667004, -0.07541135,  0.02432461, ...,  0.01482679,
         0.00574146, -0.00504335],
       [ 0.26854137, -0.14490832, -0.078801  , ...,  0.00519116,
         0.01483031,  0.02402411]])

In [24]:
svd.explained_variance_ratio_.cumsum()[-1] #varianza explicada

0.8010782031361035

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(reduced_data)
similarity

array([[1.        , 0.05892453, 0.02643665, ..., 0.01367535, 0.06077601,
        0.03857962],
       [0.05892453, 1.        , 0.07566   , ..., 0.01482834, 0.09549771,
        0.06418057],
       [0.02643665, 0.07566   , 1.        , ..., 0.01909538, 0.0883923 ,
        0.08403706],
       ...,
       [0.01367535, 0.01482834, 0.01909538, ..., 1.        , 0.03211032,
        0.02642509],
       [0.06077601, 0.09549771, 0.0883923 , ..., 0.03211032, 1.        ,
        0.11909876],
       [0.03857962, 0.06418057, 0.08403706, ..., 0.02642509, 0.11909876,
        1.        ]])

In [26]:
similarity[0]

array([1.        , 0.05892453, 0.02643665, ..., 0.01367535, 0.06077601,
       0.03857962])

In [27]:
similarity.shape

(44406, 44406)

In [28]:
movies_df_.shape

(44406, 2)

In [29]:
movies_df_

,words,title
0,Toy Story 16 35 10751 TomHanks TimAllen DonRic...,Toy Story
1,Jumanji 12 14 10751 RobinWilliams JonathanHyde...,Jumanji
2,Grumpier Old Men 10749 35 WalterMatthau JackLe...,Grumpier Old Men
3,Waiting to Exhale 35 18 10749 WhitneyHouston A...,Waiting to Exhale
4,Father of the Bride Part II 35 SteveMartin Dia...,Father of the Bride Part II
...,...,...
44401,Robin Hood 18 28 10749 PatrickBergin UmaThurma...,Robin Hood
44402,Century of Birthing 18 AngelAquino PerryDizon ...,Century of Birthing
44403,Betrayal 28 18 53 ErikaEleniak AdamBaldwin Jul...,Betrayal
44404,Satan Triumphant IwanMosschuchin NathalieLiss...,Satan Triumphant
44405,Queerama DaisyAsquith 50 years after decrimi...,Queerama

In [30]:
def recommendator(movie:str):
    id = movies_df_[movies_df_['title'] == movie].index[0]
    cos_distance = similarity[id]
    movie_list = sorted(list(enumerate(cos_distance)), reverse=True, key=lambda x:x[1])[1:6]
    high_scores = []
    for id in movie_list:
        high_scores.append(movies_df_.iloc[id[0]]['title'])
    return high_scores

In [31]:
titles = movies_df_['title']

recommendations_df = pd.DataFrame(titles)

recommendations = recommendations_df['title'].apply(lambda x: recommendator(x))

recommendations_df[['rec1', 'rec2', 'rec3', 'rec4', 'rec5']] = pd.DataFrame(recommendations.tolist())

In [34]:
recommendations_df.head()

,title,rec1,rec2,rec3,rec4,rec5
0,Toy Story,Toy Story 3,Toy Story 2,The Champ,Superstar: The Life and Times of Andy Warhol,The 40 Year Old Virgin
1,Jumanji,Liar Game: Reborn,Table No. 21,Brainscan,Word Wars,The Dark Angel
2,Grumpier Old Men,Grumpy Old Men,Max,Go Fish,Spoon,The Pack
3,Waiting to Exhale,Paraguayan Hammock,Robin and Marian,Waiting for Godot,Euridice BA 2037,Gods of the Plague
4,Father of the Bride Part II,Babbitt,VeggieTales: King George and the Ducky,Father of the Bride,Kuffs,I Start Counting

In [35]:
recommendations_df.to_csv('recommendations.csv',index=False)