# Tranformar Datos

## Conociendo los archivos

Es de destacar que antes se ha hecho un analisís superficial a los archivos en formato .xlsx para conocer su estructura general.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# cargamos archivos .csv

movies = pd.read_csv('..\Dataset\movies_dataset.csv')
credits = pd.read_csv('..\Dataset\credits.csv')

C:\Users\byjho\AppData\Local\Temp\ipykernel_8944\736319133.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('..\Dataset\movies_dataset.csv')

### Movies

In [3]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
movies.shape

(45466, 24)

In [5]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
# columnas con valores nulos y cantidad

movies.isna().any().sum(), (movies.isna().sum()/movies.shape[0])*100

(19,
 adult                     0.000000
 belongs_to_collection    90.115691
 budget                    0.000000
 genres                    0.000000
 homepage                 82.883913
 id                        0.000000
 imdb_id                   0.037391
 original_language         0.024194
 original_title            0.000000
 overview                  2.098271
 popularity                0.010997
 poster_path               0.848986
 production_companies      0.006598
 production_countries      0.006598
 release_date              0.191352
 revenue                   0.013197
 runtime                   0.578454
 spoken_languages          0.013197
 status                    0.191352
 tagline                  55.104914
 title                     0.013197
 video                     0.013197
 vote_average              0.013197
 vote_count                0.013197
 dtype: float64)

Observamos que las columnas "belongs_to_collection", "homepage" y "tagline" tienen un alto porcentaje de valores nulos, debemos tenerlo en cuenta a futuro.

A su vez, estos campos tienen datos anidados:

- belongs_to_collection.
- genres.
- production_companies.
- production_countries.
- spoken_languages.

In [7]:
nested_columns = ["belongs_to_collection", "genres", "production_companies", "production_countries", "spoken_languages"]

movies[nested_columns].head()

,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"

### Credits

In [8]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [9]:
credits.shape

(45476, 3)

In [10]:
# columnas con valores nulos y cantidad

credits.isna().any().sum(), (credits.isna().sum()/movies.shape[0])*100

(0,
 cast    0.0
 crew    0.0
 id      0.0
 dtype: float64)

In [11]:
credits.iloc[0,0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

## Datos Anidados

El objetivo de este primer "capitulo" del notebook es la limpieza de datos anidados presentes en ambos datasets (.csv), para luego convertirlos a una nueva columna o una nueva tabla, dependiendo de la evaluación posteriormente realizada.

### Movies

Procedemos primeramente a crear un dataframe individual para cada columna que presenta datos anidados

In [12]:
# En este bloque de codigo creamos una funcion que desanida columnas

# importamos ast para convertir los strings a diccionarios
import ast

# esta funcion convierte str a diccionarios
def str_to_dicc(x): 
    if isinstance(x, str):
        return ast.literal_eval(x)
    else:
        return None

# esta funcion desanida las columas
def unnest_column(nested_column):
    return pd.json_normalize(nested_column.apply(str_to_dicc))

In [13]:
nested_columns # columnas que necesitamos limpiar

['belongs_to_collection',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages']

In [14]:
movies_ = movies.copy() #copia de movies para trabajar sin alterar el df original

In [15]:
belongs_to_collection_df = unnest_column(movies_['belongs_to_collection'])

# sin embargo, la salida no nos permite crear una tabla nueva, debido a que es dificil de leer y se repiten valores
# por lo tanto seguimos modificando el nuevo df

belongs_to_collection_df.drop(['poster_path','backdrop_path'],axis=1,inplace=True) # no usaremos estas columnas

belongs_to_collection_df = belongs_to_collection_df.drop_duplicates().dropna()

belongs_to_collection_df.head()

          id                            name
0    10194.0            Toy Story Collection
2   119050.0       Grumpy Old Men Collection
4    96871.0  Father of the Bride Collection
9      645.0           James Bond Collection
12  117693.0                Balto Collection

In [16]:
# get_value() nos retorna un valor dentro de un dict()
# ideal para usar en un .apply() de un df
def get_value(dic,val):
    return dic[val]

In [17]:
#param: column, value_list


# transforma la columna ingresada a un dataframe con numero de
# columnas = len(values)

# Asume que recibe un dataframe de la forma m*1 en la que cada registro
# es una lista de diccionarios

def column_transform(values: list, iterable: pd.DataFrame):

    df = unnest_column(iterable).stack() # convierte el df generado a uno de la forma (n*m,1)

    df = pd.DataFrame(df.reset_index(drop=True)) 

    for value in values:
        df[value] = df[0].apply(lambda dic: get_value(dic,value)) # creamos la columna especificada

    df.drop(columns=0, inplace=True) # borramos la columna que contenia los diccionarios

    # genres_df.drop_duplicates(inplace=True) # obtenemos solo los valores unicos

    df.reset_index(inplace=True, drop=True)

    df.drop_duplicates(inplace=True) # obtenemos solo los valores unicos

    df.reset_index(inplace=True, drop=True)
   
    return df

In [18]:
genres_df = column_transform(['id','name'],movies_['genres'])

genres_df.head()

      id       name
0     16  Animation
1     35     Comedy
2  10751     Family
3     12  Adventure
4     14    Fantasy

In [19]:
production_companies_df = column_transform(['id','name'],movies_['production_companies'])

production_companies_df.head()

      id                       name
0      3    Pixar Animation Studios
1    559           TriStar Pictures
2   2550               Teitler Film
3  10201  Interscope Communications
4   6194               Warner Bros.

In [20]:
production_countries_df = column_transform(['iso_3166_1','name'],movies_['production_countries'])

production_countries_df.head()

  iso_3166_1                      name
0         US  United States of America
1         DE                   Germany
2         GB            United Kingdom
3         FR                    France
4         IT                     Italy

In [21]:
spoken_languages_df = column_transform(['iso_639_1','name'],movies_['spoken_languages'])

spoken_languages_df.head()

  iso_639_1      name
0        en   English
1        fr  Français
2        es   Español
3        de   Deutsch
4        ru   Pусский

In [22]:
spoken_languages_df.shape # vemos si la shape es congruente

(133, 2)

Una vez creados los dataframes, evaluamos la posibilidad de anexarlos a el principal dataframe movies_ o simplemente tratarlos como una tabla distinta relacionada a movies_

In [23]:
# Empezamos evaluando el conjunto general y recordando su forma

movies_[nested_columns].head()

,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
3,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"

In [24]:
# usamos belongs_to_collection, conservamos los id y los asociamos a la tabla creada anteriormente

movies_['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [25]:
# agregamos 'belongs_to_collection_id', el cual guarda la id de la coleccion
# para posteriormente acceder a ella en caso de ser necesario.

movies_['belongs_to_collection_id'] = unnest_column(movies_['belongs_to_collection'])['id']

In [26]:
movies_['belongs_to_collection_id'].head()

0     10194.0
1         NaN
2    119050.0
3         NaN
4     96871.0
Name: belongs_to_collection_id, dtype: float64

In [27]:
# hacemos lo mismo para las otras 4 columnas, con ciertos cambios debido a que
# son una lista de diccionarios

In [28]:
def get_ids(iterable:pd.Series,id:str):
    # La función toma una serie de pandas llamada "iterable" y una cadena de texto llamada "id"

    df = unnest_column(iterable).stack().reset_index(level=1,drop=True)
    # Se desenrolla la columna iterable utilizando la función "unnest_column",
    # se apila en un solo nivel y se reinician los índices en el nivel 1

    df = df.apply(lambda x: x[id])
    # Se aplica una función lambda a cada valor de la serie df para extraer el valor correspondiente al id

    df = df.groupby(df.index).apply(list)
    # Se agrupan los valores de df por índice y se convierten en listas

    return df

In [29]:
#aplicamos get_ids() a las columnas restantes

movies_['genres_id'] = get_ids(movies_['genres'],'id')
movies_['production_companies_id'] = get_ids(movies_['production_companies'],'id')
movies_['production_countries_iso_3166_1'] = get_ids(movies_['production_countries'],'iso_3166_1')
movies_['spoken_language_iso_639_1'] = get_ids(movies_['spoken_languages'],'iso_639_1')
movies_.drop(nested_columns,axis=1,inplace=True) # borramos las tablas a las que anteriormente les agregamos el id

movies_.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,genres_id,production_companies_id,production_countries_iso_3166_1,spoken_language_iso_639_1
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,10194.0,"[16, 35, 10751]",[3],[US],[en]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,"[12, 14, 10751]","[559, 2550, 10201]",[US],"[en, fr]"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,"[10749, 35]","[6194, 19464]",[US],[en]
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,"[35, 18, 10749]",[306],[US],[en]
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,[35],"[5842, 9195]",[US],[en]

### Credits

Procedemos a transformar las columnas anidadas en credits.csv

In [30]:
# copia para no alterar el df original

credits_ = credits.copy()

In [31]:
# con esta funcion obtenemos solo los directores de credtis_['crew']
# debido a que son los unicos que usaremos de esa columna

def get_director_name(crew:list):
    crew = str_to_dicc(crew)
    
    for person in crew:
        if person['job'] == 'Director':
            director = person['name']
            return director


credits_['crew'] = credits_['crew'].apply(lambda x: get_director_name(x))

In [32]:
# cambiamos nombre de crew a director

old_columns = credits_.columns
new_columns = ['cast','director','id']
credits_ = credits_.rename(columns=dict(zip(old_columns,new_columns)))
credits_.head()

                                                cast         director     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    John Lasseter    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...     Joe Johnston   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...    Howard Deutch  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  Forest Whitaker  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...    Charles Shyer  11862

In [33]:
# retorna nombre de todo el elenco de una pelicula
def get_cast_names(cast:list):

    cast = str_to_dicc(cast)
    return [person['name'] for person in cast]
    # for person in cast:
    #     names.append(person['name'])
    # return names

credits_['cast'] = credits_['cast'].apply(lambda x: get_cast_names(x))

In [34]:
credits_.head()

                                                cast         director     id
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    John Lasseter    862
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...     Joe Johnston   8844
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...    Howard Deutch  15602
3  [Whitney Houston, Angela Bassett, Loretta Devi...  Forest Whitaker  31357
4  [Steve Martin, Diane Keaton, Martin Short, Kim...    Charles Shyer  11862

In [35]:
movies_.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,genres_id,production_companies_id,production_countries_iso_3166_1,spoken_language_iso_639_1
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,10194.0,"[16, 35, 10751]",[3],[US],[en]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,"[12, 14, 10751]","[559, 2550, 10201]",[US],"[en, fr]"
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050.0,"[10749, 35]","[6194, 19464]",[US],[en]
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,"[35, 18, 10749]",[306],[US],[en]
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871.0,[35],"[5842, 9195]",[US],[en]

## Otros tratamientos de datos

Unimos los dos dataframes principales

In [36]:
movies_1 = movies_.copy()
credits_1 = credits_.copy()

# las siguientes dos lineas eliminan los valores
# no numericos de la columna id de movies_1
movies_1['id'] = pd.to_numeric(movies_1['id'], errors='coerce')
movies_1 = movies_1[~movies_1['id'].isnull()]
movies_1['id'] = movies_1['id'].astype('int')

merge_df = pd.merge(movies_1,credits_1,'left',on='id')

In [37]:
merge_df.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,video,vote_average,vote_count,belongs_to_collection_id,genres_id,production_companies_id,production_countries_iso_3166_1,spoken_language_iso_639_1,cast,director
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,False,7.7,5415.0,10194.0,"[16, 35, 10751]",[3],[US],[en],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,False,6.9,2413.0,NaN,"[12, 14, 10751]","[559, 2550, 10201]",[US],"[en, fr]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,False,6.5,92.0,119050.0,"[10749, 35]","[6194, 19464]",[US],[en],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,False,6.1,34.0,NaN,"[35, 18, 10749]",[306],[US],[en],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,False,5.7,173.0,96871.0,[35],"[5842, 9195]",[US],[en],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer

### valores nulos

Rellenamos con 0 los valores nulos de las columnas "revenue" y "budget"

In [38]:
merge_df['revenue'].isnull().any() # verificamos presencia de nulos

True

In [39]:
merge_df['revenue'] = merge_df['revenue'].fillna(0)

In [40]:
merge_df['revenue'].isnull().any() # verificamos presencia de nulos luego de aplicar .fillna()

False

In [41]:
merge_df['budget'].isnull().any() # verificamos presencia de nulos

False

In [42]:
# al no encontrar nulos, no es necesario rellenarlos con 0

Eliminamos los registros con valores nulos del campo release_date

In [43]:
merge_df = merge_df[~merge_df['release_date'].isnull()] # "~" nos sirve como operación lógica de negación
merge_df.shape #45539,26 antes de borrar datos

(45452, 26)

### Tratamiento de fechas

In [44]:
# Encontramos las columnas con fechas

merge_df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'belongs_to_collection_id',
       'genres_id', 'production_companies_id',
       'production_countries_iso_3166_1', 'spoken_language_iso_639_1', 'cast',
       'director'],
      dtype='object')

In [45]:
merge_df['release_date'] # unica columna con fechas, mantiene el formato AAAA-mm-dd
merge_df['release_date'] = pd.to_datetime(merge_df['release_date'])

In [46]:
# creamos una nueva columna que contiene el año de estreno

merge_df['release_year'] = merge_df['release_date'].apply(lambda x: x.year)
merge_df['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45533    1991
45535    2011
45536    2003
45537    1917
45538    2017
Name: release_year, Length: 45452, dtype: int64

In [47]:
# creamos una nueva columna que contiene el mes de estreno

merge_df['release_month'] = merge_df['release_date'].apply(lambda x: x.month)
merge_df['release_month']

0        10
1        12
2        12
3        12
4         2
         ..
45533     5
45535    11
45536     8
45537    10
45538     6
Name: release_month, Length: 45452, dtype: int64

In [48]:
# creamos una nueva columna que contiene el dia de estreno

merge_df['release_day'] = merge_df['release_date'].apply(lambda x: x.day)
merge_df['release_day']

0        30
1        15
2        22
3        22
4        10
         ..
45533    13
45535    17
45536     1
45537    21
45538     9
Name: release_day, Length: 45452, dtype: int64

### Creación de columna de retorno de inversión

In [49]:
merge_df['return'] = merge_df['revenue'].astype('int')/merge_df['budget'].astype('int') # se crea la columna return
merge_df['return'] = merge_df['return'].replace([np.inf,-np.inf],np.nan).fillna(0) # se reemplazan valores infinitos y nan con 0

c:\Users\byjho\miniconda3\envs\pi_mlops\Lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

### Eliminar columnas no usadas

In [50]:
movies_df = merge_df.copy()

movies_df = movies_df.drop(["video","imdb_id","adult","original_title","poster_path","homepage"],axis=1)

## Exportar archivos

In [51]:
movies_df.to_csv('Tables\\movies.csv',index=False)

In [52]:
belongs_to_collection_df.to_csv('Tables\\belongs_to_collection.csv',index=False)
genres_df.to_csv('Tables\\genres_df.csv',index=False)
production_companies_df.to_csv('Tables\\production_companies.csv',index=False)
production_countries_df.to_csv('Tables\\production_countries.csv',index=False)
spoken_languages_df.to_csv('Tables\\spoken_languages.csv',index=False)